*{
  margin: 0;
  padding: 0;
}
html body{
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}
table{
  margin-top: 10%;
  padding: 15px;
  border-radius: 14px;
  border: 2px solid black;
  width: 50vw;
  height:30vh;
  background-color: aqua;
}
body{
  display: flex;
  position: absolute;
  justify-content: center;
}
.log{
  text-align: center;
  font-size: 2rem;
}
.btn{
  width: 76px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(135, 233, 31);
}
input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}